In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('movies_metadata.csv',low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [10]:
df = df.dropna()

### Subsets

In [11]:
df.original_language.unique()

array(['en', 'wo', 'it', 'ja', 'cn', 'da', 'zh', 'ko', 'fr', 'ru', 'pt',
       'es', 'th', 'sv', 'no', 'fi', 'hi', 'nl', 'id', 'de', 'ar'],
      dtype=object)

In [12]:
english_sub = df[df.original_language == 'en']
english_sub

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,3.521940e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,2.821592e+07,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,2.583662e+07,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1.275000e+06,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,6.600000e+07,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43726,False,"{'id': 224026, 'name': 'Monster High Collectio...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://www.monsterhigh13wishes.com,212470,tt3159812,en,Monster High: 13 Wishes,"It’s a new school year at Monster High™, and t...",...,2013-10-08,0.000000e+00,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be scare-ful what you wish for,Monster High: 13 Wishes,False,6.4,20.0
44009,False,"{'id': 86066, 'name': 'Despicable Me Collectio...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.despicable.me,324852,tt3469046,en,Despicable Me 3,Gru and his wife Lucy must stop former '80s ch...,...,2017-06-15,1.020063e+09,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Oh brother.,Despicable Me 3,False,6.2,2002.0
44274,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,2017-07-11,3.699080e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0
44674,False,"{'id': 476961, 'name': 'Goon Collection', 'pos...",0,"[{'id': 35, 'name': 'Comedy'}]",https://www.facebook.com/GoonFilm/?fref=ts,336890,tt2417712,en,Goon: Last of the Enforcers,"During a pro lockout, Doug ""The Thug"" Glatt is...",...,2017-03-17,0.000000e+00,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Glatt's Back!,Goon: Last of the Enforcers,False,6.0,35.0
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0

In [13]:
french_sub = df[df.original_language == 'fr']
french_sub

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
10700,False,"{'id': 85946, 'name': 'District 13 Collection'...",12000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.banlieue13-lefilm.com/,10045,tt0414852,fr,Banlieue 13,"Set in the ghettos of Paris in 2010, an underc...",...,2004-11-09,9584131.0,84.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Welcome to District B13. Welcome to the future,District B13,False,6.5,572.0
32886,False,"{'id': 115840, 'name': 'Would I Lie to You? Co...",25496629,"[{'id': 35, 'name': 'Comedy'}]",http://www.laveritesijemens3.com/,86868,tt1794850,fr,La Vérité si je Mens ! 3,"Eddie, Dov, Yvan et les autres… Nos chaleureux...",...,2012-01-31,40924982.0,120.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,"Truth, we missed you!",La Vérité si je Mens ! 3,False,5.3,98.0
45029,False,"{'id': 417491, 'name': 'Bon Cop Bad Cop Collec...",0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",http://bcbc2.ca/en/,417489,tt4738174,fr,Bon Cop Bad Cop 2,Ward and Bouchard must face an important car t...,...,2017-05-12,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"It's okay America, we've got your back.",Bon Cop Bad Cop 2,False,6.8,5.0

### Merge

In [14]:
merged_data = pd.merge(english_sub,french_sub, how="outer")
merged_data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
1,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
2,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
3,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
4,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

### Sort

In [15]:
df.sort_values('vote_count')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
35536,False,"{'id': 98448, 'name': 'Thou Shalt Laugh Collec...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.thoushaltlaugh.com/,98440,tt1320113,en,Thou Shalt Laugh 3,New from the #1 family comedy series of all-ti...,...,2008-11-04,0.000000e+00,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Next PRETTY-MUCH-PERFECT Installment in th...,Thou Shalt Laugh 3,False,0.0,0.0
35538,False,"{'id': 98448, 'name': 'Thou Shalt Laugh Collec...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.thoushaltlaugh.com/,98439,tt1128079,en,Thou Shalt Laugh 2 - The Deuce,Hot on the heels of the hit DVD Thou Shalt Lau...,...,2007-11-07,0.000000e+00,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven of the funniest Christian Comedians on e...,Thou Shalt Laugh 2 - The Deuce,False,0.0,0.0
40571,False,"{'id': 163798, 'name': 'Gumball 3000 Collectio...",0,"[{'id': 99, 'name': 'Documentary'}, {'id': 12,...",http://www.gumball3000.com/,35701,tt0390067,en,Gumball 3000: The Movie,A 3000 mile race from San Francisco to Miami t...,...,2003-01-01,0.000000e+00,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,6 Days. 150 Cars. 3000 Miles.,Gumball 3000: The Movie,False,6.0,1.0
31852,False,"{'id': 8917, 'name': 'Hellraiser Collection', ...",0,"[{'id': 27, 'name': 'Horror'}, {'id': 99, 'nam...",http://www.leviathan-hellraiser.co.uk,348191,tt3317562,en,Leviathan: The Story of Hellraiser and Hellbou...,Leviathan: The Story of Hellraiser and Hellbou...,...,2015-06-18,0.000000e+00,476.0,[],Released,They Have Such Sights To Show You,Leviathan: The Story of Hellraiser and Hellbou...,False,5.0,2.0
28732,False,"{'id': 133887, 'name': 'Apocalypse Collection'...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.jvim.com/apocalypse3/,77787,tt0202236,en,Tribulation,Tom Canboro is a police detective with a Chris...,...,2000-01-14,0.000000e+00,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One man will need the end of the world... to f...,Tribulation,False,4.5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23753,False,"{'id': 284433, 'name': 'Guardians of the Galax...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://marvel.com/guardians,118340,tt2015381,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",...,2014-07-30,7.733286e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All heroes start somewhere.,Guardians of the Galaxy,False,7.9,10014.0
26564,False,"{'id': 448150, 'name': 'Deadpool Collection', ...",58000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.foxmovies.com/movies/deadpool,293660,tt1431045,en,Deadpool,Deadpool tells the origin story of former Spec...,...,2016-02-09,7.831130e+08,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Witness the beginning of a happy ending,Deadpool,False,7.4,11444.0
17818,False,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,...,2012-04-25,1.519558e+09,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,False,7.4,12000.0
14551,False,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,2009-12-10,2.787965e+09,162.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,False,7.2,12114.0
12481,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,2008-07-16,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0

### Transpose

In [16]:
df.transpose()

,9,68,69,153,178,219,256,309,359,475,...,43294,43725,43726,44009,44050,44274,44674,44821,44842,45029
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,"{'id': 645, 'name': 'James Bond Collection', '...","{'id': 43563, 'name': 'Friday Collection', 'po...","{'id': 10924, 'name': 'From Dusk Till Dawn Col...","{'id': 439053, 'name': 'Brooklyn Cigar Store C...","{'id': 286162, 'name': 'Power Rangers Collecti...","{'id': 182813, 'name': 'Clerks Collection', 'p...","{'id': 10, 'name': 'Star Wars Collection', 'po...","{'id': 144200, 'name': 'Swan Princess Series',...","{'id': 94032, 'name': 'The Lion King Collectio...","{'id': 328, 'name': 'Jurassic Park Collection'...",...,"{'id': 87118, 'name': 'Cars Collection', 'post...","{'id': 224026, 'name': 'Monster High Collectio...","{'id': 224026, 'name': 'Monster High Collectio...","{'id': 86066, 'name': 'Despicable Me Collectio...","{'id': 473840, 'name': 'Little Forest Collecti...","{'id': 173710, 'name': 'Planet of the Apes (Re...","{'id': 476961, 'name': 'Goon Collection', 'pos...","{'id': 34055, 'name': 'Pokémon Collection', 'p...","{'id': 8650, 'name': 'Transformers Collection'...","{'id': 417491, 'name': 'Bon Cop Bad Cop Collec..."
budget,58000000,3500000,19000000,2000000,15000000,27000,11000000,35000000,45000000,63000000,...,175000000,0,0,80000000,0,152000000,0,16000000,260000000,0
genres,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 16, 'name': 'Animation'}]","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",...,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'id': 10751, 'name': 'Family'}, {'id': 14, '...","[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
homepage,http://www.mgm.com/view/movie/757/Goldeneye/,http://www.newline.com/properties/friday.html,http://www.miramax.com/movie/from-dusk-till-dawn/,http://miramax.com/movie/blue-in-the-face/,http://www.powerrangers.com/,http://www.miramax.com/movie/clerks/,http://www.starwars.com/films/star-wars-episod...,http://www.sonypictures.com/movies/theswanprin...,http://movies.disney.com/the-lion-king,http://www.jurassicpark.com/,...,http://cars.disney.com,http://www.monsterhigh.com/en-us/videos/index....,http://www.monsterhigh13wishes.com,http://www.despicable.me,https://web.archive.org/web/20160111092554/htt...,http://www.foxmovies.com/movies/war-for-the-pl...,https://www.facebook.com/GoonFilm/?fref=ts,http://movies.warnerbros.com/pk3/,http://www.transformersmovie.com/,http://bcbc2.ca/en/
id,710,10634,755,5894,9070,2292,11,22586,8587,329,...,260514,360404,212470,324852,294682,281338,336890,10991,335988,417489
imdb_id,tt0113189,tt0113118,tt0116367,tt0112541,tt0113820,tt0109445,tt0076759,tt0111333,tt0110357,tt0107290,...,tt3606752,tt4779496,tt3159812,tt3469046,tt3474600,tt3450958,tt2417712,tt0235679,tt3371366,tt4738174
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,ja,en,en,ja,en,fr
original_title,GoldenEye,Friday,From Dusk Till Dawn,Blue in the Face,Mighty Morphin Power Rangers: The Movie,Clerks,Star Wars,The Swan Princess,The Lion King,Jurassic Park,...,Cars 3,"Monster High: Boo York, Boo York",Monster High: 13 Wishes,Despicable Me 3,リトル・フォレスト 夏・秋,War for the Planet of the Apes,Goon: Last of the Enforcers,Pokémon 3: The Movie,Transformers: The Last Knight,Bon Cop Bad Cop 2
overview,James Bond must unmask the mysterious head of ...,Craig and Smokey are two guys in Los Angeles h...,Seth Gecko and his younger brother Richard are...,"Auggie runs a small tobacco shop in Brooklyn, ...",Power up with six incredible teens who out-man...,Convenience and video store clerks Dante and R...,Princess Leia is captured and held hostage by ...,The beautiful princess Odette is transformed i...,A young lion cub named Simba can't wait to be ...,A wealthy entrepreneur secretly creates a them...,...,Blindsided by a new generation of blazing-fast...,The ghouls are taking a bite out of Boo York! ...,"It’s a new school year at Monster High™, and t...",Gru and his wife Lucy must stop former '80s ch...,"Abandoned by her mother, young Ichiko leaves h...",Caesar and his apes are forced into a deadly c...,"During a pro lockout, Doug ""The Thug"" Glatt is...",When Molly Hale's sadness of her father's disa...,"Autobots and Decepticons are at war, with huma...",Ward and Bouchard must face an important car t...
popularity,14.686036,14.56965,15.339153,11.528147,7.024227,10.513367,42.149697,8.910462,21.605761,8.863776,...,19.148182,3.393803,3.527047,36.631519,1.252833,146.161786,6.365691,6.480376,39.186819,7.580299
poster_path,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,/kkoGT4bnK5oGiNbzGGcXzrXMSxn.jpg,/ce0d4kM5KxT4x1Oq8JkSuNYevri.jpg,/qa9yf3OlfXbYBb0af0mpawGB6TI.jpg,/A3ijhraMN0tvpDnPoyVP7NulkSr.jpg,/dmNytzvQTjylI83qrgDoS1KQ0ev.jpg,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,/oYp2bckWNBKOIbznjAfypVoMOFl.jpg,/bKPtXn9n4M4s8vvZrbw40mYsefB.jpg,/c414cDeQ9b6qLPLeKmiJuLDUREJ.jpg,...,/fyy1nDC8wm553FCiBDojkJmKLCs.jpg,/sTFl7TjLYY8IfsF2Xi28flBKf5B.jpg,/smWPHu8UWlVr6pJkExPrF4fks0x.jpg,/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg,/87FWLJdViF9p8vysGBFcXMXXlZp.jpg,/3vYhLLxrTtZLysXtIWktmd57Snv.jpg,/emio9KDrLXqqX4wXa4YTacBQXG.jpg,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,/s5HQf2Gb3lIO2cRcFwNL9sn1o1o.jpg,/qY4RGT6Ky1Z46BWaKohTlNp9ncU.jpg
production_companies,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'name': 'New Line Cinema', 'id': 12}]","[{'name': 'A Band Apart', 'id': 59}, {'name': ...","[{'name': 'Miramax Films', 'id': 14}, {'name':...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'name': 'Lucasfilm', 'id': 1}, {'name': 'Twe...","[{'name': 'Rich Animation Studios', 'id': 4108}]","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'name': 'Mattel Playground Productions', 'id...","[{'name': 'Mattel', 'id': 6220}]","[{'name': 'Illumination Entertainment', 'id': ...","[{'name': 'Shochiku', 'id': 5906}]","[{'name': 'Chernin Entertainment', 'id': 7076}]","[{'name': 'Caramel Film', 'id': 23108}]","[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Item 7', 'id': 7177}, {'name': 'Jes..."
production_countries,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]"
release_date,1995-11-16,1995-04-26,1996-01-19,1995-09-15,1995-06-30,1994-09-13,1977-05-25,1994-11-18,1994-06-23,1993-06-11,...,2017-06-15,2015-10-19,2013-10-08,2017-06-15,2014-08-30,2017-07-11,2017-03-17,2000-07-08,2017-06-21,2017-05-12
revenue,352194034.0,28215918.0,25836616.0,1275000.0,66000000.0,3151130.0,775398007.0,9771658.0,788241776.0,920100000.0,...,350170057.0,0.0,0.0,1020063384.0,0.0,369907963.0,0.0,68411275.0,604942143.0,0.0
runtime,130.0,91.0,108.0,83.0,92.0,92.0,121.0,89.0,89.0,127.0,...,109.0,72.0,73.0,96.0,111.0,140.0,101.0,93.0,149.0,0.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,No limits. No fears. No substitutes.,A lot can go down between thursday and saturda...,One night is all that stands between them and ...,Welcome to the planet Brooklyn.,The Power Is On!,Just because they serve you doesn't mean they ...,"A long time ago in a galaxy far, far away...",An enchanting classic destined to capture your...,Life's greatest adventure is finding your plac...,An adventure 65 million years in the making.,...,"From this moment, everything will change",A Monsterrific Musical!,Be scare-ful what you wish for,Oh brother.,Back to nature.,For freedom. For family. For the planet.,Glatt's Back!,Pokémon: Spell of the Unknown,"For one world to live, the other must die.","It's okay America, we've got your back."
title,GoldenEye,Friday,From Dusk Till Dawn,Blue in the Face,Mighty Morphin Power Rangers: The Movie,Clerks,Star Wars,The Swan Princess,The Lion King,Jurassic Park,...,Cars 3,"Monster High: Boo York, Boo York",Monster High: 13 Wishes,Despicable Me 3,Little Forest: Summer/Autumn,War for the Planet of the Apes,Goon: Last of the Enforcers,Pokémon: Spell of the Unknown,Transformers: The Last Knight,Bon Cop Bad Cop 2
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,6.6,7.0,6.9,6.8,5.2,7.4,8.1,6.5,8.0,7.6,...,6.6,7.3,6.4,6.2,8.3,6.7,6.0,6.0,6.2,6.8
vote_count,1194.0,513.0,1644.0,28.0,153.0,769.0,6778.0,251.0,5520.0,4956.0,...,718.0,17.0,20.0,2002.0,16.0,1675.0,35.0,144.0,1440.0,5.0

### Melting

In [19]:
df_melted = pd.melt(df, id_vars=['original_language'], value_vars=['revenue', 'budget'])

In [20]:
df_melted

     original_language variable        value
0                   en  revenue  352194034.0
1                   en  revenue   28215918.0
2                   en  revenue   25836616.0
3                   en  revenue    1275000.0
4                   en  revenue   66000000.0
...                ...      ...          ...
1381                en   budget    152000000
1382                en   budget            0
1383                ja   budget     16000000
1384                en   budget    260000000
1385                fr   budget            0

[1386 rows x 3 columns]

In [28]:
df_pivot = pd.pivot_table(df, values='vote_average', index='original_language', aggfunc="mean")

In [29]:
df_pivot

                   vote_average
original_language
ar                     6.400000
cn                     6.866667
da                     6.666667
de                     6.750000
en                     6.229016
es                     5.925000
fi                     6.500000
fr                     6.200000
hi                     6.225000
id                     7.450000
it                     7.900000
ja                     6.472414
ko                     7.950000
nl                     6.300000
no                     6.366667
pt                     7.066667
ru                     6.200000
sv                     7.100000
th                     5.900000
wo                     7.300000
zh                     6.475000